<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="number1" type="text" class="ghost-input" placeholder="Number1" required>
          <input name="number2" type="text" class="ghost-input" placeholder="Number2" required>

        <select class="selectpicker" (ngModelChange)="changeValue($event)" data-style="btn-info" name="operation">
                <optgroup label="Select Operation">
                  <option name="" value="0">Operation</option>
                  <option name="operation1" value="add">Add</option>
                  <option name="opeartion2" value="sub">Sub</option>
                  <option name="operation3" value="mul">Mul</option>
                  <option name="operation4" value="div">Div</option>
                </optgroup>
            </select><br><br>
           <input type="submit" class="ghost-button" value="Calculate">
           </form>

        <% if(output !== null){ %>
          <p><%= output %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>